<h1>Gift Registry</h1>

<img class="img_style" src="gift_registry.png" align="left">

<p class="intro">
	Please feel free to have a look at our
	<a href="http://www.home.co.za/giftlist/giftRegistry.jsp?pageName=giftRegistryView&giftlistId=gl23687381" target="_blank">gift registry</a> :)
	</br>
	</br>
	We appreciate whatever gift you give us, even if it is just your presence and blessings at our wedding.
	</br>
	</br>
	Thanks!
</p>