<div id="heading">
	<div class="center">
		<img src="heading.png">
	</div>
</div>

<div id="wedding">
	<h1>It's Our Wedding!!</h1>
	<div class="intro">
		<p>
			Hi and welcome to our wedding website!
			</br>
			</br>
			Here you will find some info for the wedding and also a brief intro of the two of us.
			</br>
		  Feel free to look around and if you have any questions, please do not hesitate to use the Contact Us section.
			</br>
			</br>
			Also, check out the timer below, time is a ticking!
			</br>
			</br>
			With Love,
			</br>
			Ash & Virash
		</p>
	</div>
	<div class="intro">
		<iframe display="inline-block" width="350" height="240" src="https://w2.countingdownto.com/1170573" frameborder="0"></iframe>
	</div>
</div>

<div id="story">
	<h1>The Story</h1>

	<h2><img src="his.png"></h2>
	<img class="scale" src="ash.png" align="left">
	<p class="intro" align="left">
		Hi There! I am <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"> Astley Rampersad </a>, born and raised  in a town on the outskirts of Durban, named Stanger.
		</br>
		</br>
		I am the eldest of 3 brothers, all who have studied Engineering.
		</br>
		</br>
		I enjoy playing games, sport, or just relaxing with family and friends.
		</br>
		</br>
		I love travelling and will really want to tour the world going sight seeing and of course trying out different cuisines.
		</br>
		</br>
		I met Virash at Campus, where we both were studying Computer Engineering. She was a shy girl (little did I know!), but friendly and approachable.
		</br>
		</br>
		We have been together since August 2010 and to be honest, I have never looked back.
		</br>
		</br>
		Virash brings out the best of me and I cannot wait to start the rest of out lives together!
		</br>
		</br>
		</br>
	</p>

	<h2><img src="hers.png"></h2>
	<img class="scale" src="virash.png" align="left">
	<p class="intro" align="left">
		I am the only girl in a family of 3 siblings so naturally I am a tomboy which is
		why I chose to study engineering (And I love Tech!).
		</br>
		</br>
		I'm originally from Chatsworth, Durban but now live in the concrete jungle of
		Johannesburg.
		</br>
		</br>
		I play video games and listen to Linkin Park but I also love cooking with Ash.
		The one item on my bucket list is to see the Monaco F1 Grand Prix live.
		</br>
		</br>
		My favorite memory of Ash was the first time I met him in our Security and Encryption lecture.
		</br>
		I remember his amazing smile. It was love at first sight!
		</br>
		</br>
		When I think about Ash it makes me want to cry in the best way possible.
		</br>
		Someone once told me that "when you meet the right person, you'll know."
		Well, I just knew.
		</br>
		</br>
		Right away, we connected on values, life outlook,
		and interests in a way that left me feeling complete and whole.
		</br>
		</br>
		He is indeed my best friend and partner in crime...
	</p>
	</br>
	</br>
	</br>

	<h2><img src="ours.png"></h2>
	<img class="scale2" src="us.png" height="250" width="100" align="left" >
	<p class="intro">
		Once upon a time......
		</br>
		</br>
		Our story began in 2010 at UKZN through our mutual friends (thanks Bradley and Taariqa!). There was an instant connection. Through the rest of the semester we became good friends.
		</br>
		</br>
		After chatting to each other every day either at campus or via MXIT and Facebook we both knew it was only a matter of time.
		</br>
		</br>
		It was on 1 August 2010 when we actually started dating and the rest as they say is history.....
	</p>
	</br>
	</br>
</div>

<div id="proposal">
	<%= erb(:proposal, :layout => false) %>
	</br>
	</br>
</div>

<div id="map">
	<%= erb(:map, :layout => false) %>
</div>

<div id="gift_registry">
	<%= erb(:gift_registry, :layout => false) %>
</div>

<div id="contact_us">
	</br>
	</br>
	<%= erb(:contact_us, :layout => false) %>
</div>

<p class="watermark">Site Designed and Created by Astley Rampersad. astleyrampersad@gmail.com</p>

