<h1>Map</h1>

<p class="intro">
	The wedding will be held in Durban and yes, it was a headache planning it as we both are based in JHB!
	</br>
	</br>
	For more details, please feel free to contact us.
</p>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="700" height="500" src="https://maps.google.com/maps?hl=en&q=Durban&ie=UTF8&t=roadmap&z=11&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div><div><small><a href="http://premiumlinkgenerator.com/nitroflare-org">nitroflare premium link generator</a></small></div></iframe>