<body class="news">
  <header>
    <div class="nav">
      <ul>
        <li class="wedding"><a href="#wedding">Wedding</a></li>
        <li class="story"><a href="#story">Story</a></li>
        <li class="proposal"><a href="#proposal">Proposal</a></li>
        <li class="map"><a href="#map">Map</a></li>
        <li class="gift_registry"><a href="#gift_registry">Gift Registry</a></li>
        <li class="contact_us"><a href="#contact_us">Contact Us</a></li>
      </ul>
    </div>
  </header>
</body>
