<h1>The Proposal</h1>
<img class="scale3" src="proposal.png" height="390" align="left" >
<blockquote>
	<p class="intro">
		<em>"Being a smart guy, Ash asked me to book a table for dinner as I usually do at a quiet but elegant restaurant knowing that I won’t suspect a thing.
		<br>
		</br>
		Midway through our main course he popped the question.
		For the first time in 5 years with him, I was speechless; all I could do was nod YES.
		It was an incredible moment for us and the start of an epic journey.
		</br>
		</br>
		We are both excited to spend our lives together and can't wait to see what the future has in store for us!"</em>
	</p>
	<footer>- <cite>Virashini Naidoo, Bride</cite></footer>
</blockquote>
<blockquote>
	<p class="intro">
		<em>"Man was I nervous!!!
		</br>
		After searching high and low for the perfect ring for Virash, it was time to figure out how to pop the Q.
	</br>
	</br>
	I decided to do it over dinner, were Virash will not suspect a thing.
	</br>
	Her reaction was priceless and it will be a day that I will remember for the rest of my life!"</em>
	</p>
	<footer>- <cite>Astley Rampersad, Groom</cite></footer>
</blockquote>